#playArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    border-radius: 10px;
}

.scoreCard, .numberBtn, .rowBonusContainer, .rowBonus, .colBonusContainer, .colBonus{
    --sizeFactor : 1px;
    --factor : 1;
    width : calc(var(--sizeFactor) * 1px / var(--factor));
    height : calc(var(--sizeFactor) * 1px / var(--factor));
}

.scoreCard{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    position : relative;
    background-image: url('img/LuckyBox.webp');
    background-repeat: no-repeat;
    background-size : calc(var(--sizeFactor) *1px / var(--factor)) calc(2px * var(--sizeFactor) / var(--factor));
}

.numberBtn{
    --index : 1 ;
    --indexmod: 1;
    --indexdivide: 1;
    position : absolute;
    border: 0px;
    background-color: transparent;
    background-image: url('img/LuckyBox_numbers.webp');
    background-size: calc(var(--sizeFactor) * 9px / var(--factor)) calc(2px * var(--sizeFactor) / var(--factor));
    font-size: calc(var(--sizeFactor) * 1px / var(--factor));
    text-align: center;
    left : calc((65px + var(--indexmod) * 172px) / var(--factor));
    top : calc((48px + var(--indexdivide) * 172px) / var(--factor));
    background-position-x: calc(-1px * (var(--index) - 1) * var(--sizeFactor) / var(--factor));
}

.rowBonusContainer{
    --index:0;
    position : absolute;
    border: 0px;
    left: calc(577px/var(--factor));
    top: calc((30px + var(--sizeFactor) * 1px * var(--index)) / var(--factor));
    background-image: url('img/LuckyBox_row_bonus.webp');
    background-color: transparent;
    background-size: calc(1px * var(--sizeFactor) / var(--factor)) calc(2px * var(--sizeFactor) / var(--factor));
}

.colBonusContainer{
    --index:0;
    position : absolute;
    border: 0px;
    top: calc(560px/var(--factor));
    left: calc((40px + var(--sizeFactor) * 1px * var(--index)) / var(--factor));
    background-image: url('img/LuckyBox_col_bonus.webp');
    background-color: transparent;
    background-size: calc(1px * var(--sizeFactor) / var(--factor)) calc(2px * var(--sizeFactor) / var(--factor));
}

.rowBonus{
    --index : 0;
    border: 0px;
    position : absolute;
    text-align: center;
    left: calc( 45px / var(--factor));
    top: calc( 35px / var(--factor));
    background-image: url('img/LuckyBox_bonus.webp');
    background-color: transparent;
    font-size: calc(var(--sizeFactor) * 1px / var(--factor));
    background-size: calc(14px * var(--sizeFactor) / var(--factor)) calc(2.1px * var(--sizeFactor) / var(--factor));
    background-position-x: calc(-1px * var(--index) * var(--sizeFactor) / var(--factor));
}

.colBonus{
    --index : 0;
    border: 0px;
    position : absolute;
    text-align: center;
    left: calc( 52px / var(--factor));
    top: calc( 35px / var(--factor));
    background-image: url('img/LuckyBox_bonus.webp');
    background-color: transparent;
    font-size: calc(var(--sizeFactor) * 1px / var(--factor));
    background-size: calc(14px * var(--sizeFactor) / var(--factor)) calc(2.1px * var(--sizeFactor) / var(--factor));
    background-position-x: calc(-1px * var(--index) * var(--sizeFactor) / var(--factor));
}

